#wrapper {
    display: flex;
}

#left-img-cont {
    min-width: 480px;
    max-width: 480px;
    min-height: 1,024px;
    max-height: 1,024px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right-text-cont {
    display: flex; 
    flex-direction: column; 
    min-width: 960px;
    max-width: 960px;
}

#top-cont, #bot-cont {
    background-color: lightgray;
    min-height: 384px;
    max-height: 384px;
}

#mid-cont {
    min-height: 256px;
    max-height: 256px;
}