@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
}

#wrapper {
    display: flex;
}

#left-img-cont {
    display: flex; 
    min-width: 480px;
    max-width: 480px;
    min-height: 1,024px;
    max-height: 1,024px;
}

#fern-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#odin-img-cont {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-width: 480px;
    max-width: 480px;
    max-height: 144px; 
    min-height: 144px;
    background-color: black; 
    opacity: 0.6; 
    margin-top: 240px;
}

#odin-img {
    max-height: 128px;
}

#odin-txt {
    font-family: odin-font, sans-serif;
    color: white;
    font-size: 48px;
    padding-top: 8px;
}

#right-text-cont {
    display: flex; 
    flex-direction: column; 
    min-width: 960px;
    max-width: 960px;
}

#top-cont, #bot-cont {
    background-color: lightgray;
    min-height: 384px;
    max-height: 384px;
}

#mid-cont {
    min-height: 256px;
    max-height: 256px;
}